<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnDataCenter" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DataCenter;Integrated Security=SSPI;" />
    <add key="ExcelFilePath" value="C:\temp\DAT-3447_Anonymisert_kundetabell_historisert_RS161212_v1.xlsx" />
    <add key="ExcelFileHasHeader" value="Y" />
    <add key="ExcelSheetNumber" value="1" />
    <add key="BankTableName" value="Bank" />
    <add key="ForsikringTableName" value="Forsikring" />
    <add key="MQTableName" value="MessageQueue" />
    <add key="FilterToBankGreaterThanYear" value="2010" />
    <add key="FilterToBankKundeansvarlig" value="Y" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>