<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ConnDataCenter" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DataCenter;Integrated Security=SSPI;"/>
      <add key="MQTableName" value="MessageQueue"/>
      <add key="ForsikringTableName" value="Forsikring"/>
      <add key="BankTableName" value="Bank"/>
      <add key="Integrasjonstest" value="Y"/>
    </appSettings>
</configuration>